@import "variable";

*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

/* 将具有默认margin和padding的标记置零 */
body,div,p,ul,li,dt,dl,dd,h1,h2,h3,h4,h5,h6,table,thead,tbody,tr,th,td{margin:0;padding:0;}
body{color:#000;background:#fff;font-family:PingFangSC-Regular;}
/* 清除浮动 */
.clearfix:after{display:block;clear:both;content:"";}
.clearfix{zoom:1;}
/* h1,h2,h3,h4,h5,h6,i,em,b,strong{line-height:100%;font-weight:normal;font-style:normal;} */
/* textarea,input  强制输入时内容超出时换行 */
textarea,input{	word-wrap:break-word;word-break:break-all;padding:0;resize: none;}
/* 清除ul列表标记的样式 */
li{list-style-type:none;}
/* 当图片作为链接内容被填充时，会有默认边框出现，重定义掉 */
img{vertical-align:top;/*解决IMG留白的bug，而且保留原来的行内块属性*/border:none;}
/* 定义默认的链接样式 */
a{text-decoration:none;color:inherit;font-size:inherit;}
input:focus{outline:none;}
/* @group 通用属性定义 */
/*  鼠标样式 */
.pointer{cursor:pointer;}
/* 取消边框 */
.NoBorder{border:0 none;}
/*  文本对齐方式  */
.text-l{text-align:left;}
.text-c{text-align:center;}
.text-r{text-align:right;}

/* 浮动定义 */
.fl{float:left;}
.fr{float:right;}

/* 定位关系 */
.absolute{position:absolute;}
.relative{position:relative;}
.fixed{position:fixed;}
.position-c{top:50%;left:50%;transform:translate(-50%, -50%);}

/* 隐藏元素 当元素内容内容超出元素height 或 width 时，隐藏之 */
.o-hidden{overflow:hidden;}

/* 从页面布局上隐藏元素 */
.hide{display: none;}
.show{display: block;}
/* 从页面布局上显示元素 */
.inline{display:inline;}
.block{display:block;}
.in-block{display:inline-block;}
.flex{display:flex;}

.trans-5{filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;background:#000;z-index:105;}
.mask{display:none;position:fixed;top:0;left:0;height:100vh;width:100vw;background:rgba($color: #000000, $alpha: .5);z-index:16;}
.mask.show{display:block;}

.center {margin:0 auto;}

input,button,select,textarea{outline:none;}

/* 超出省略号 */
.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.c-default {
    color: $fontColor;
}